apiVersion: v1
kind: Service
metadata:
  name: airflow
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
  selector:
    app: airflow
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow
spec:
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:
      containers:
        - name: airflow
          image: apache/airflow:latest
          command: ["airflow", "standalone"]
          env:
            - name: AIRFLOW__CORE__LOAD_EXAMPLES
              value: "False"
            - name: AIRFLOW_CONN_POSTGRES_P1
              value: "postgresql://postgres:p1password@postgres-p1:5432/source_db"
            - name: AIRFLOW_CONN_POSTGRES_P2
              value: "postgresql://postgres:p2password@postgres-p2:5432/target_db"
            - name: AIRFLOW__API__AUTH_BACKENDS
              value: "airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: dags-volume
              mountPath: /opt/airflow/dags
      volumes:
        - name: dags-volume
          hostPath:
            path: /home/deploy/deployment/airflow/dags
            type: Directory
